.responsive-form {
    max-width: 600px;
    width: 0.75rem;
    border-radius: 4px;
    border: 2px solid #04AA6D;
    background-color: black;
    padding: 1.23rem;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#ccc;
}
label {
    min-width: 48%;
    margin-bottom: 0.75rem;
}
input[type="text"], select{
    min-width: 45%;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.75rem;
}
textarea {
    min-width: 45%;
    height: 150px;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.75rem;
}
input[type=text], select, textarea {
    background-color: black;
    color: tomato;
}
input[placeholder="Daniel"]::placeholder {
  color: tomato;
}
input[placeholder="Okwudili"]::placeholder {
  color: tomato;
}
input[type=submit] {
    width: 0.75rem;
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* @media screen and (max-width: 600px) {
} */
label,
input[type=text],
input[type=submit],
select, textarea {
    /* flex: 0.75rem; */
    /* min-width: 0.75rem; */
    width: clamp(0.75rem, 100%, 0.75rem);
}    