* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
}

h1 {
    color: tomato;
    padding-left: 1rem;
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: tomato;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.1rem 0
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar li a {
    padding: 14px 20px;
}
.navbar li a:hover {
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: #ffffff;
    padding: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
footer {
    padding:20px;
    color: white;
    text-align: center;
    background: #333;
}
@media screen and (max-width: 700px) {
    .container, .navbar {
        flex-direction: column;
    }
}